.news_section {
    padding: 0;
    min-height: 100vh;
    background-color: $bg-color-3;

    @media (min-width: 1200px) {
        background-image: var(--image);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 30% auto;
    }

    .partners_wrapper {
        padding: 60px;
        width: 100%;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black-6;
        }

        .partner_swiper {
            z-index: 10;
        }

        .partner_logo {
            width: 100%;
            @include row-center;
            max-width: 220px;
            height: 150px;

            img {
                max-width: 100%;
                height: auto;
                max-height: 150px;
                object-fit: contain;
            }
        }
    }

    .news_wrapper {
        padding: 80px 0;
        width: 100%;
        @include column-start;
        gap: 40px;

        .section_heading {
            @include column-start;
            gap: 15px;

            .design_line {
                width: 120px;
                height: 2px;
                background-color: $primary-color;
            }
        }

        .news_container {
            width: 100%;
            @include column-start;
            gap: 30px;

            @media (min-width: 992px) {
                @include row-justify-start;
                align-items: stretch;
                gap: 40px;
            }

            .container_col {
                @include column-start;
                gap: 40px;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &.col_2 {
                    height: 600px;
                }

                @media (min-width: 992px) {
                    min-height: 700px;
                    // @include column-between;
                    overflow: auto;
                }
            }

            .all_news_button {
                width: 100%;
                @include row-center;
                padding: 30px;
                text-align: center;
                color: #fff;
                background-color: $primary-color;
                font-size: 20px;
                font-family: $secondary-font;
                font-weight: 600;

                &:active {
                    background-color: $secondary-color;
                }
            }

            .news_banners {
                width: 100%;
                max-width: 450px;

                .banner_item {
                    width: 100%;
                    min-height: 400px;
                    position: relative;

                    @media (min-width: 768px) {
                        min-height: 550px;
                    }

                    .news_image {
                        width: 100%;
                        min-height: 400px;
                        height: auto;
                        object-fit: cover;

                        @media (min-width: 768px) {
                            min-height: 550px;
                        }
                    }

                    .item_content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        @include column-between;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .55) 56%, rgba(0, 0, 0, .55) 100%);
                        transition: all 0.3s;

                        .item_badge {
                            align-self: flex-end;
                            background-color: #f7db60;
                            color: #000;
                            font-size: 12px;
                            font-family: $secondary-font;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            padding: 25px;
                            @include row-center;
                            text-align: center;
                            font-weight: 600;
                            opacity: 0;
                            transform: rotateX(90deg);
                            animation: bannerBadgeAnimation 1s ease forwards;
                        }

                        .item_bottom {
                            width: 100%;
                            padding: 15px;
                            @include column-start;
                            gap: 15px;

                            @media (min-width: 768px) {
                                padding: 30px;
                            }

                            .item_date_author {
                                @include row-justify-start;
                                gap: 5px;
                                color: #fff;
                                opacity: 0;
                                transform: translateY(20px);
                                animation: bannerContentAnimation 1s ease forwards;
                            }

                            .item_title {
                                opacity: 0;
                                transform: translateY(20px);
                                animation: bannerContentAnimation 1s ease forwards;

                                a {
                                    color: #fff;
                                    display: inline;
                                    position: relative;
                                    background: linear-gradient(to right, #fff 0%, #fff 100%);
                                    background-size: 0 2px;
                                    background-position: 0 99%;
                                    padding: .1% 0;
                                    background-repeat: no-repeat;
                                    transition: all 0.3s;
                                    font-family: $primary-font;
                                }

                                &:hover {
                                    a {
                                        background-size: 100% 2px;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        .item_content {
                            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 56%, rgba(0, 0, 0, .75) 100%);
                        }
                    }
                }
            }

            .news_list {
                width: 100%;
                max-width: 450px;
                padding: 20px;
                background-color: #fff;
                border: 1px solid $black-1;
                @include column-start;
                gap: 20px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                @media (min-width: 992px) {
                    height: 100%;
                    max-height: 100%;

                }

                @media (min-width: 1200px) {
                    max-width: 340px;
                }

                .list_item {
                    width: 100%;
                    @include column-start;
                    gap: 10px;

                    .item_title {
                        a {
                            color: $text-color-1;
                            display: inline;
                            position: relative;
                            background: linear-gradient(to right, $text-color-1 0%, $text-color-1 100%);
                            background-size: 0 2px;
                            background-position: 0 99%;
                            padding: .1% 0;
                            background-repeat: no-repeat;
                            transition: all 0.3s;
                            font-weight: 600;
                            font-family: $primary-font;
                        }


                        &:hover {
                            a {
                                background-size: 100% 2px;
                            }
                        }
                    }

                    .item_text {
                        color: $text-color-2;
                        opacity: 0.7;
                    }

                    .item__bottom {
                        width: 100%;
                        @include row-justify-start;
                        gap: 5px;
                        font-size: 12px;
                        color: $text-color-2;
                    }
                }
            }
        }
    }
}

@keyframes bannerContentAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bannerBadgeAnimation {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.all_news_section {
    background-color: $bg-color-3;

    .main_container {
        width: 100%;
        @include column-center;

        .container_col {
            width: 100%;
            @include column-center;
            gap: 30px;
        }

        @media (min-width: 992px) {
            @include row-between;
            align-items: stretch;

            .container_col {
                align-items: stretch;
                justify-content: start;

                &.col_1 {
                    width: 70%;
                }

                &.col_2 {
                    width: 25%;
                }
            }
        }

        .news_grid {
            width: 100%;

            .news_card {
                width: 100%;

                @media (min-width: 768px) {
                    width: 48%;
                }

                .news_image {
                    width: 100%;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $black-4;
                        opacity: 0;
                        transition: all 0.3s;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }

                    .news_badge {
                        z-index: 10;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: #f7db60;
                        color: #000;
                        font-size: 12px;
                        font-family: $secondary-font;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding: 25px;
                        @include row-center;
                        text-align: center;
                        font-weight: 600;
                        opacity: 0;
                        transform: rotateX(90deg);
                        animation: bannerBadgeAnimation 1s ease forwards;
                    }
                }

                .card_content {
                    padding: 30px 0;
                    @include column-align-start;
                    gap: 20px;

                    .news_title {
                        a {
                            color: $text-color-1;
                            display: inline;
                            position: relative;
                            background: linear-gradient(to right, #000 0%, #000 100%);
                            background-size: 0 2px;
                            background-position: 0 99%;
                            padding: .1% 0;
                            background-repeat: no-repeat;
                            transition: all 0.3s;
                            font-family: $primary-font;
                        }

                        &:hover {
                            a {
                                background-size: 100% 2px;
                            }
                        }
                    }

                    .news_date_author {
                        font-size: 12px;
                        font-family: $secondary-font;
                        color: $text-color-1;
                    }

                    .news_text {
                        width: 100%;
                        color: $text-color-2;
                        font-size: 19px;
                        opacity: 0.8;
                    }

                    .detail_button {
                        padding: 20px;
                        background-color: $primary-color;
                        color: #fff;
                        @include row-center;
                        text-align: center;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-family: $secondary-font;
                        gap: 10px;
                        font-weight: 600;

                        &:active {
                            background-color: $secondary-color;
                        }
                    }
                }

                &:hover {
                    .news_image {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .news_categories {
            width: 100%;
            background-color: #fff;
            border: 1px solid $black-1;
            padding: 30px;
            @include column-align-start;
            gap: 20px;

            .cat_heading {
                font-size: 22px;
                font-family: $primary-font;
                font-weight: 600;
                color: $text-color-1;
            }

            .cat_list {
                width: 100%;
                @include column-center;
                gap: 3px;
            }

            .list_item {
                width: 100%;
                padding: 12px 0;
                border-bottom: 1px solid $black-1;
                @include row-between;
                &:last-child{
                    border: none;
                }
                .item_title {
                    color: $text-color-1;
                    font-family: $secondary-font;

                    &:hover {
                        color: $primary-color;
                    }
                }
                .item_badge{
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    @include row-center;
                    text-align: center;
                    color: #fff;
                    background-color: $primary-color;
                    font-size: 10px;
                    font-weight: 500;
                    font-family: $secondary-font;
                }
            }
        }
        .popular_news_list{
            width: 100%;
            background-color: #fff;
            border: 1px solid $black-1;
            padding: 30px;
            @include column-align-start;
            gap: 20px;

            .list_heading {
                font-size: 22px;
                font-family: $primary-font;
                font-weight: 600;
                color: $text-color-1;
            }
            .news_list{
                width: 100%;
                @include column-align-start;
                gap: 20px;
                .list_item{
                    @include row-start;
                    gap: 15px;
                    .item_image{
                        width: 90px;
                        height: 90px;
                        img{
                            width: 90px;
                            height: 90px;
                            object-fit: cover;
                        }
                    }
                    .item_content{
                        @include column-align-start;
                        gap: 10px;
                        .content_title {
                            span{
                                font-size: 14px;
                                color: $text-color-1;
                                display: inline;
                                position: relative;
                                background: linear-gradient(to right, #000 0%, #000 100%);
                                background-size: 0 2px;
                                background-position: 0 99%;
                                padding: .1% 0;
                                background-repeat: no-repeat;
                                transition: all 0.3s;
                                font-family: $primary-font;
                                font-weight: 600;
                            }
    
                            &:hover {
                                span {
                                    background-size: 100% 2px;
                                }
                            }
                        }
                        .content_date{
                            font-size: 12px;
                            color: $text-color-1;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}